@import "firstblock";
@import "secondblock";
@import "thirdblock";
@import "fonts";
@import "fourthblock";
@import "fifthblock";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');


html, body{
    height: 100%;
    font-family: Gilroy;
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}
.content{
    flex: 1 1 auto;
}
.main-window{
    background: url("@img/bg-1.png") left center no-repeat, url("@img/bg-2.png") right center no-repeat, url("@img/bg-3.png") right top no-repeat;
}
.second-window{
    background: url("@img/bg-4.png") left -200px no-repeat, url("@img/bg-5.png") right 600px no-repeat;
}
.third-window{
    background: url("@img/bg-6.png") left top no-repeat;
}
.fourth-window{
    background: url("@img/bg-7.png") right 150px no-repeat;
}
.five-window{
    background: url("@img/bg-8.png") left 230px no-repeat, url("@img/bg-9.png") right bottom no-repeat;
}


.button{
    font-size: 18px;
    color: #FFF;
    background-color: #49AD09;
    border: none;
    border-radius: 5px; 
    width: 152px;
    height: 58px;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    cursor: pointer;
}

button{
    cursor: pointer;
}
h2{
    font-family: 'Gilroy';
    font-size: 45px;
    line-height: 53px;
    color: #313131;
}
h3{
    font-family: 'Gilroy';
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #313131;
}
h4{
    font-family: 'Gilroy';
    font-size: 28px;
    line-height: 33px;
    color: #000;
}

h5{
    font-family: 'Gilroy-Bold';
    font-size: 22px;
    line-height: 33px;
    color: #313131;
}
h6{
    font-family: 'Gilroy-Bold';
    font-size: 20px;
    line-height: 23px;
    color: #1C1C1D;
}

.price-card{
    ::marker{
        content: url("@img/marker.svg");
    }
}
